.rec-total {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.rec-separado {
  width: 125px;
  padding: 5px;
}

.rec-separado img{
  width: 110px;
}

.visually-hidden {
  color: blue;
}

.carousel {
  margin-bottom: 30px;
}